<div class="container">
    <div class="d-flex flex-column">
        <h1 class="blog-post-title mt-2">{{evento.nome}}</h1>
        <h3 class="blog-post-subtitle mt-2">{{evento.data}}</h3>
        <h3 class="blog-post-subtitle ">{{evento.nomeOrganizacao}}</h3>
        <hr>
        <h2>Tags</h2>
        <div class="d-flex flex-row flex-wrap mt-3">
            <div id="tag-desse-evento" class="mb-2 txtover" *ngFor="let tag of evento.tagsEvento">
                <p>{{tag}}</p>
            </div>
        </div>
        <hr>
        <h2>Patrocinadores</h2>
        <div class="d-flex flex-row justify-content-between flex-wrap mt-3">
            <div class="d-flex flex-row margemorg" *ngFor="let patrocinador of evento.patrocinadores">
                <div class="card shadow-sm org">
                    <img class="card-img-top imgFit" [src]="patrocinador.fotoPatrocinador">
                    <div class="card-body">
                        <h2 class="txtover">{{patrocinador.nome}}</h2>
                        <div class="d-flex">
                            <div class="btn-group">
                                <button type="button" class="botaoBorderGradient btnsize"
                                    (click)="gerenciarPatrocinador(patrocinador)">Gerenciar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row margemorg">
                <div class="card shadow-sm backcolor org">
                    <div class="d-flex moresize">
                        <img class="card-img-top  more" src="../../assets/fotos/more.png">
                    </div>
                    <div class="card-body">
                        <h2 class="txtover">Adicionar Patrocinador</h2>
                        <div class="d-flex">
                            <div class="btn-group">
                                <button type="button" class="botaoGradient btnsizeG" data-bs-toggle="modal"
                                    data-bs-target="#modalPatrocinador">Adicionar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
            <h2>Voluntários</h2>
            <div class="d-flex flex-row flex-wrap justify-content-evenly mt-3">
                <p *ngFor="let pessoa of evento.pessoasEvento">{{pessoa.nome}} {{pessoa.sobrenome}}</p>
            </div>
    </div>
</div>

<app-criar-patrocinador></app-criar-patrocinador>