.btnsize {
    padding: 5px 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.25rem;
}

.btnsizeG {
    padding: 8px 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.25rem;
}

.org {
    width: 22vw;
}

h2 {
    white-space: nowrap;
    overflow:hidden;
}

.txtover {
    text-overflow: ellipsis;
}

.imgFit {
    object-fit: contain;
    width: 22vw;
    height: 14vw;
}

.margemorg {
    margin-bottom: 2vw;
}

.moresize {
    width: 22vw;
    height: 14vw;
    justify-content: center;
    align-items: center;
}

.more {
    opacity: 0.7;
    width: 50%;
}

.card.backcolor {
    background-color: transparent;
}

#tag-desse-evento{
    display: flex;
    gap: 12px;
}

#tag-desse-evento p {
    background-color: #e2e2e2;
    margin: 0;
    border-radius: 24px;
    padding: 5px; 
    color: rgb(0, 0, 0); 
}