<div class="background3">
    <div class="texto">
        <h1 class="dentro">Quer ficar por dentro de todas as novidades da ConnAction?</h1> <div class="redes">
            <div> 
                <p class="facil">Tá fácil! Abaixo você encontra todas nossas redes sociais e grupos de whatsapp. Além disso, 
                    com seu email cadastrado no site você já recebe notícias periodicamente!</p>
            </div>
            <div class="sociais">
                <img id="soc" src="../../assets/fotos/facebook (1).png" alt="">
                <img id="soc" src="../../assets/fotos/instagram.png" alt="">
                <img id="soc" src="../../assets/fotos/whatsapp.png" alt="">
                <img id="soc" src="../../assets/fotos/twitter.png" alt="">
            </div>
        </div>
    </div>
    <img id="logo" src="../../assets/fotos/lococolorida.png" >
</div>
