.tag {
    background-color: #e2e2e2;
    border-radius: 24px;
    padding: 6px;
    font-size: 12px; 
    color: rgb(0, 0, 0); 
}

.titulo{
    margin-top: 40px
}

.eventosize {
    width: 25vw;
    max-height: fit-content;
}   

.btn-size-b {
    padding: 2px 8px;
}

.btn-size {
    padding: 5px 11px;
}

.btn-group {
    margin-top: 10px;
}