.criar-size {
    border-radius: 5px;
    padding: 10px;
    width: 25%;
}

.voltar-size {
    border-radius: 5px;
    padding: 7px;
    width: 25%;
}

#inputFotoOrg {
    position: absolute;
    top: -1000px;
}

#orgProfile {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    margin: 5px 5px;
    border-color: (337deg, rgba(217,88,255,1) 2%, rgba(0,126,250,1) 100%);
    position: relative;
    cursor: pointer;
    background-color: white;
    display: table;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 5px 8px rgba(black, 0.35);
}

.profile-outter {
    border-radius: 100%;
    position:relative;
    cursor: pointer;
    background: linear-gradient(337deg, rgba(217,88,255,1) 2%, rgba(0,126,250,1) 100%);
    display: table;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 5px 8px rgba(black, 0.35);
    margin-bottom: 12px;
}

.maxw {
    width: 100%;
}