<header class="py-3 mb-4 border-bottom">
  <div class="container d-flex flex-wrap justify-content-center">
    <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-1">Organizações</span>
    </a>
    <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
      <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
    </form>
  </div>
</header>

<div class="d-flex flex-row flex-wrap">
  <div class="d-flex flex-row margemorg" *ngFor="let minhaOrg of minhasOrgs">
      <div class="card shadow-sm org">
          <img class="card-img-top imgFit" [src]="minhaOrg.orgFoto">
          <div class="card-body">
              <h2 class="txtover">{{minhaOrg.nomeOrg}}</h2>
            <div class="d-flex">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary" (click)="visitarOrg(minhaOrg)">Ver mais</button>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>
