<div class="container">  
    <main class="container">
        <div class="col-md-6 px-0">
          <img [src]="org.orgFoto" alt="logo" width="50%" height="50%">
      </div>
 
      <div class="row g-5">
        <div class="col-md-8">
          
          <article class="blog-post">
            <h2 class="blog-post-title mb-1">Descrição</h2>
            <p>{{org.descricao}}</p>
            <hr>
            <h2>Eventos</h2>
          </article>
    <div class="row mb-2" *ngFor="let evento of org.eventos">
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-0">{{evento.nome}}</h3>
              <div class="mb-1 text-muted">{{evento.data}}</div>
              <p *ngFor="let tag of evento.tagsEvento">{{tag}}</p>
              <button type="button" class="btn btn-sm btn-outline-secondary">Gerenciar</button>
            </div>
          </div>
        </div>
    </div>
</div>
      