input[type=password] {
    padding: 10px;
    outline: none;
    caret-color: #1d57f8;
    width: 80%;
}

.border-gradient {
    border: 0;
    border-bottom: 4px solid;
    border-image-slice: 1;
}

.border-gradient-purple {
    border-image-source: linear-gradient(to left, #834de0, #1d57f8);
}

input::content{
    background: -webkit-linear-gradient(45deg, #3867e7, #9159f1);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}