<h2>Tags</h2>
<li *ngFor="let tag of tags">{{tag.nome}}</li>

<h2>Eventos</h2>
<app-eventodiv></app-eventodiv>

<h2>Contribuicoes</h2>
<div *ngFor="let contribuicao of contribuicoes">
    Contribuicao
    <li>{{contribuicao.nomeUsuario}} {{contribuicao.sobrenome}}</li>
    <li>{{contribuicao.nomeOrg}}</li>
    <li>{{contribuicao.data}}</li>
    <li>{{contribuicao.valor}}</li>
</div>

<h2>Organizacoes</h2>
<div *ngFor="let organizacao of organizacoes">
    Organizacao
    <li>{{organizacao.nomeSupervisor}} {{organizacao.sobrenomeSupervisor}}</li>
    <li>{{organizacao.nomeOrg}}</li>
    <li>{{organizacao.caminhoImagem}}</li>
    <li>{{organizacao.descricao}}</li>
</div>
