.btnsize {
    padding: 5px 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.25rem;
}

.btnsizeG {
    padding: 8px 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.25rem;
}

.org {
    width: 22vw;
}

h2 {
    white-space: nowrap;
    overflow:hidden;
}

.txtover {
    text-overflow: ellipsis;
}

.imgFit {
    object-fit:contain;
    width: 21.8vw;
    height: 14vw;
}

.margemorg {
    margin-bottom: 2vw;
}

.moresize {
    width: 22vw;
    height: 14vw;
    justify-content: center;
    align-items: center;
}

.more {
    opacity: 0.7;
    width: 50%;
}

.card.backcolor {
    background-color: transparent;
}

.org{
    margin-top: 20px;
}
