<h3>Minhas Organizações</h3>
<div class="col org" *ngFor="let minhaOrg of minhasOrgs">
    <div class="card shadow-sm">
        <img class="card-img-top imgFit" [src]="minhaOrg.orgFoto" height="255">
        <div class="card-body">
            <h2>{{minhaOrg.nomeOrg}}</h2>
          <p class="card-text">{{minhaOrg.descricao}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Gerenciar</button>
            </div>
          </div>
        </div>
      </div>
</div>

<h3>Criar Organização</h3>
<app-criar-org></app-criar-org>
