#imgBanner{
    background-position: center center;
    background-size: cover;
    background-image: url(../../assets/fotos/img-bannerQuemSomos.jpg);
    
}
img{
    max-width:100%;    
}

#tituloBanner{
    padding-top: 75px;
    margin-left: 50px;
    color:white;

}
#conteudoBanner{
    padding-top: 15px;
    margin-left: 50px;
    max-width: 550px ;
    padding-bottom: 100px;
    color: aliceblue;
}


/* como surgimos---------------------------------------------------------------------------------------- */
#comoSurgimos{
    display:flex;
    padding: 3em;
    flex-wrap: wrap;
    justify-content:center;
    background-color: #f6f6f6;
}

#comoSurgimos h1{
    padding-bottom: 1em;
    flex-wrap: wrap;
    
}
.comoS{
    display: flex;
    flex-direction: row;
}
#img-comoSurgimos{
    margin-left: 10em;
}
#texto-comoSurgimos{
    max-width: 30vw;
}
#img-comoSurgimos{
    margin-left: 10em;
}

@media (max-width:801px) {
    .comoS {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #img-comoSurgimos{
        margin-left: 0!important;
    }
    #texto-comoSurgimos{
        max-width: 90vw;
        margin-bottom: 2em;
    }
}

/* sobre a Plataforma----------------------------------------------------------------------------- */
#sobreAPlataforma{
    margin: 2.5em auto ;
    text-align: center;
    color: #ffffff;
    
}
 
#todaPlataforma{
    padding:2.5em;
    background-color: #8196f5;
} 

 
.p-3 h3{
    color: black;
    padding-bottom: 10px;
}
 
.p-3{
    border-radius: 10px;    
    padding-bottom: 10px;
    background-color: #e4e1e1;
 
}
.row{
    color:black;
}
 
@media (max-width: 600px) {
    .row{
        margin-bottom: 12px;
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
    }
    .col{
        margin-bottom: 12px;
    }
}
 

/* cards equipe------------------------------------------------------------------------------------ */

#cardsEquipe{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:20px;
    gap: 15px!important;
   
}

#nossaEquipe h1{
   margin-top: 35px;
   text-align: center;

}

.card{
    padding: 10px;
    background-color: #f6f6f6;
}




























