
<div class="page">

    <div  class="linha">
        <h1 class="bemvindo">
            Bem vindo à ConnAction, {{name}}!
        </h1>
        <h1 class="sub">
           Nos ajude a saber que tipo de voluntariado você deseja fazer.
        </h1>
      <a id="botao" routerLink="/tags">Adicionar Tags de Interesse!</a>
        <h1>
            Uma plataforma para conectar ONG's que buscam voluntários e pessoas com anseio de ajudar o próximo 
        </h1>
        <a id="botao" routerLink="/vagaseventos">Voluntarie-se</a>
    </div>

    <div class="linha"><img id="img" src="../../assets/fotos/logo.png" alt="logo"></div>


</div>
Bem-vindo à ConnAction, {{name}}!