<div class="page">
    <div>
        <ul class="menu">
            <a class="item" >Atualizar meu perfil</a>
            <a class="item" >Meu Histórico</a>
            <a class="item" routerLink="/tags">Minhas Tags de Interesse</a>
            <a class="item">Fazer uma Contribuição</a>
            <a class="item">Vagas de voluntariado</a>
            <a class="item" routerLink="/supervisor">Menu de Supervisor</a>
        </ul>
    </div>
    <div  class="linha">
        <h1 class="bemvindo">
            Bem vindo à ConnAction, {{name}}!
        </h1>
    </div>
</div>