<div class="um">
    <div class="card">
        <div class="tags">
            <ul class="list-group">
                <div class="displayTags">
                    <form [formGroup]="tagsForm" novalidate>
                        <div class="form-horizontal">
                            <div class="list-group-item" *ngFor="let tag of tags; let i=index">
                                <label>
                                    <input type="checkbox" [value]="tag.id" (change)="onCheckboxChange($event)" />
                                    {{tag.nome}}
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </ul>
        </div>
    </div>
</div>