<div class="um">
    <app-side-menu></app-side-menu>
<div>
        <div class="card">
            <h1 class="titulo">Criar Evento</h1>
            <h2 class="subtitulo">Preencha as informações para criar um evento</h2>
            <form  [formGroup]="eventoForm" class="form">
            <input type="textEvento" name="NomeEvento" id="nomeEvento" formControlName="nome" [ngClass]="classesTextEvento"  placeholder="NOME DO EVENTO">
            <input type="textEvento" name="datavento" id="dataEvento" formControlName="data" [ngClass]="classesTextEvento"  placeholder="DATA DO EVENTO">
            <button type="submit" class="button" >Criar Evento</button>
        </form>
        </div>
    </div>
</div>
            
            
        
 
  