<!-- <div style="display: flex; flex-direction: row;"> -->
  <!-- <app-side-menu></app-side-menu> -->

  <div class="container">
    <div class="p-4 p-md-5 mb-4 rounded imgBanner">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Nome Da organização</h1>
      </div>
    </div>
  
    <div class="row g-5">
      <article class="blog-post">
        <h2 class="blog-post-title mb-1"> Sobre a organização</h2>
        <p></p>
        <p> Sobre Sobre Sobre Sobre Sobre Sobre Sobre Sobre Sobre Sobre Sobre Sobre Sobre Sobre
          Sobre Sobre Sobre Sobre Sobre Sobre Sobre Sobre Sobre Sobre Sobre Sobre Sobre Sobre Sobre
          Sobre Sobre Sobre Sobre Sobre Sobre Sobre Sobre Sobre Sobre Sobre Sobre Sobre Sobre Sobre </p>
        <hr>
        <div class="blog-post-title mb-4 mt-4">
          <h2>Nossos eventos</h2>
        </div>
      </article>
  
      <div class="row mb-2">
  
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-2">Nome Do EVENTO</h3>
              <div class="mb-2 text-muted">data do evento</div>
              <p class="card-text mb-3">This is a wider card with supporting text below as a natural lead-in to additional
                content.</p>
  
              <div id="btn-tags">
                <div id="btn-participar">
                  <a href="">Participar</a>
                </div>
                <div id="tag-desse-evento">
                  <p>Jovens</p>
                  <p>Esportes</p>
                  <p>Crianças</p>
                  <p>Mulheres</p>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-2">Nome Do EVENTO</h3>
              <div class="mb-2 text-muted">data do evento</div>
              <p class="card-text mb-3">This is a wider card with supporting text below as a natural lead-in to additional
                content.</p>
  
              <div id="btn-tags">
                <div id="btn-participar">
                  <a href="">Participar</a>
                </div>
                <div id="tag-desse-evento">
                  <p>Jovens</p>
                  <p>Esportes</p>
                  <p>Crianças</p>
                  <p>Mulheres</p>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-2">Nome Do EVENTO</h3>
              <div class="mb-2 text-muted">data do evento</div>
              <p class="card-text mb-3">This is a wider card with supporting text below as a natural lead-in to additional
                content.</p>
  
              <div id="btn-tags">
                <div id="btn-participar">
                  <a href="">Participar</a>
                </div>
                <div id="tag-desse-evento">
                  <p>Jovens</p>
                  <p>Esportes</p>
                  <p>Crianças</p>
                  <p>Mulheres</p>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-2">Nome Do EVENTO</h3>
              <div class="mb-2 text-muted">data do evento</div>
              <p class="card-text mb-3">This is a wider card with supporting text below as a natural lead-in to additional
                content.</p>
  
              <div id="btn-tags">
                <div id="btn-participar">
                  <a href="">Participar</a>
                </div>
                <div id="tag-desse-evento">
                  <p>Jovens</p>
                  <p>Esportes</p>
                  <p>Crianças</p>
                  <p>Mulheres</p>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-2">Nome Do EVENTO</h3>
              <div class="mb-2 text-muted">data do evento</div>
              <p class="card-text mb-3">This is a wider card with supporting text below as a natural lead-in to additional
                content.</p>
  
              <div id="btn-tags">
                <div id="btn-participar">
                  <a href="">Participar</a>
                </div>
                <div id="tag-desse-evento">
                  <p>Jovens</p>
                  <p>Esportes</p>
                  <p>Crianças</p>
                  <p>Mulheres</p>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-2">Nome Do EVENTO</h3>
              <div class="mb-2 text-muted">data do evento</div>
              <p class="card-text mb-3">This is a wider card with supporting text below as a natural lead-in to additional
                content.</p>
  
              <div id="btn-tags">
                <div id="btn-participar">
                  <a href="">Participar</a>
                </div>
                <div id="tag-desse-evento">
                  <p>Jovens</p>
                  <p>Esportes</p>
                  <p>Crianças</p>
                  <p>Mulheres</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->


  <app-footer></app-footer>