<div><ul class="menu">
    <a class="item" routerLink="/atualizarCadastro" >Atualizar meu cadastro</a>
    <a class="item" routerLink="/historico">Meu Histórico</a>
   <a class="item" routerLink="/tags">Minhas Tags de Interesse</a>
   <a class="item" routerLink="/contribuicao">Fazer uma Contribuição</a>
   <a class="item" routerLink="/vagas-organizacao">Vagas para voluntários</a>
   <a class="item" routerLink="/teste">(teste da org)</a>
   <a class="item" routerLink="/criarEvento">Criar evento</a>
  </ul>
</div>