.menu{

    background-color: white;
    width: 300px;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 50px;
    display: block;
    margin-right: 80px;
}

.item{
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: black;
    display: block;
    justify-items: center;
    margin-left: 16px;

}
