.um{
    display: flex;
    flex-direction: row;
}

.menu{

    background-color: white;
    width: 300px;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 50px;
    display: block;
    margin-right: 80px;



}

.item{
    font-size: 18px;
    padding-top: 10px;
padding-bottom: 10px;
    text-decoration: none;
    color: black;
    display: block;
justify-items: center;
margin-left: 16px;

}


.card{
    border: none;
    display: flex;
    /* display: inline-flex; 
    flex-direction: row; */
    width: 800px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    margin-top: 50px;

}

.titulo{
    display: block;
    font-size: 30px;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 50px;

}

.subtitulo{
    display: block;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 50px;
}



.list-group{
    border-radius: 22px;
    display: flex;
    flex-direction: row;    
}

.list-group-item{
    border-radius: 22px;
    margin: 5px;
    display: flex;

    background-color: rgb(201, 185, 224);

    
}

.tags{
display: flex;

margin-left: 30px;
/* margin-right: 50px; */
margin-top: 40px;


}

/* ul.list-group{
    margin-right: 50px;
} */