<div class="um">
  <div><ul class="menu">
      <a class="item" href="#">Atualizar meu perfil</a>
      <a class="item active" href="#" aria-current="true">Meu Histórico</a>
     <a class="item" href="#">Minhas Tags de Interesse</a>
     <a class="item" href="#">Fazer uma Contribuição</a>
     <a class="item" href="#">Vagas de voluntariado</a>
    </ul>
  </div>

  <div class="card">
      <h1 class="titulo">Através das Tags de Interesse é possível encontrar ONG's que acreditam nas mesmas causas que você</h1>
      <h2 class="subtitulo">A seguir estão as Tags, não se preocupe você pode editar elas quando quiser!</h2>
      <div class="tags"><ul class="list-group">
        <div class="displayTags">
          <form [formGroup]="tagsForm" (ngSubmit)="setUserTags()" novalidate>
              <div *ngFor="let tag of tags; let i=index">
                <label class="list-group-item">
                  <input  type="checkbox" [value]="tag.id" (change)="onCheckboxChange($event)" />
                  {{tag.nome}}
                </label>
              </div>
              <input type="submit" value="Submit">
            </form>
      </div>
          


          


        </ul></div>
  </div>
</div>














