.um{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card{
    border: none;
    display: flex;
    /* display: inline-flex; 
    flex-direction: row; */
    width: 900px;
    height: 500px;
    background-color:white;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 15px;

}
.titulo{
    display: block;
    font-size: 30px;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 50px;

}
.subtitulo{
    display: block;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 50px;
}

.contribuicao{
    display: flex;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(206, 209, 247);;
    padding: 10px 10px 10px 10px;
    margin-left: 300px;
    margin-top: 50px;
}

.input{
    display: flex;
    text-align: center;
    border: 10px;
    font-family: 'Poppins';

}