<div class="um">
    <div class="card">
        <h1 class="titulo">Contribuição financeira também é voluntariado!</h1>
        <h2 class="subtitulo">A seguir você pode inserir o valor que deseja doar:</h2>
        <div >
            <form class="contribuicao" [formGroup]="contribuicaoForm" (ngSubmit)="criarContribuicao()" style="display: flex; flex-direction:column; width:20%;">
                <input class="input" type="number" name="valor" id="valor" formControlName="valor" placeholder="VALOR">
                <div *ngIf="submitted && f.valor.errors" class="invalid-feedback">
                    <div *ngIf="f.valor.errors">Valor em branco!</div>
                </div>
                <button class="btn-size" type="submit" [disabled]="!contribuicaoForm.valid">Doar</button>
            </form>
        </div>
    </div>
</div>
