.um{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card{
    border: none;
    display: flex;
    /* display: inline-flex; 
    flex-direction: row; */
    width: 1100px;
    /* height: 800px; */
    background-color:white;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 15px;
    padding-bottom: 15px;

}

.titulo{
    display: block;
    font-size: 30px;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 50px;

}

.subtitulo {
    display: block;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 50px;
}

.text {
    display: block;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 50px;
}