<nav class="navbar navbar-dark navbar-expand back-color">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">
            <img src="../../assets/icons/recortado.png" alt="Bootstrap" width="30" height="30" class="d-inline-block align-text-top">
            ConnAction </a>
            <ul class="navbar-nav  mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Quem somos?</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/login">Entrar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/cadastrar">Cadastrar</a>
                </li>
            </ul>
    </div>
</nav>
