<div class="background">
    <div >
        <h1 class="titulo">Faça parte da rede ConnAction!</h1>
    </div>
    <div >
        <h1 class="subtitulo">No nosso site você pode se conectar com centenas de ONGs no Brasil todo e 
            escolher a vaga de voluntariado que mais tem a ver com você!</h1>
    </div>
</div>
    

<!-- <div class="background2">
    <div class="vaga">
        <h1 >Como começar?</h1>
    </div>
    <div> 
        <ul class="edit-index">

            <a href="#vol">O que é ser um voluntário?</a>

            <a href="#ins">Como me inscrevo?</a>
        
            <a href="#vag">A vaga perfeita!</a>
      
            <a href="#ago">Me inscrevi, e agora?</a>
    
        </ul>
    </div> -->

    <div id="vol" class="lado">
    <div >
        <img id="imagem" src="https://atados.com.br/static/svg/01.svg">
    </div>
    <div class="voluntario">
    <h1 class="oque">O que é ser um voluntário?</h1>
    <p class="para">
        O voluntariado é sobre trocas - de experiência, conhecimento, serviço, apoio, cidadania, carinho, amor
         - existindo um ganho não apenas para a organização, mas também para o voluntário. É uma experiência 
         para todes - independe de gênero, raça ou etnia - que permite conhecer novas realidades, se engajar 
         em uma causa social, contribuir com suas habilidades, e até mesmo desenvolver novas competências.
    </p>
</div>
</div>


<div id="ins" class="ladodois">
    <div class="meinscrevo">
    <h1 class="onde">Como me inscrevo?</h1>
    <p class="para2">
        Que incrível que você queira fazer parte da nossa rede!
        Para se inscrever em um evento voluntário você precisa ter um cadastro e estar logado 
        na sua conta ConnAction!
        Após efetuar o cadastro você poderá através de tags de interesse escolher os tipos de trabalho
        voluntário que tem o desejo de fazer, tornando assim a experiência inesquecível!
    </p>
    <button id="button">Se cadastre aqui</button>
    <button id="button">Faça o login aqui</button>
</div>
</div>


<div id="vag" class="lado">
    <div >
        <img id="imagemdois" src="https://atados.com.br/static/svg/02.svg">
    </div>
    <div class="perfeita">
    <h1 class="oque">A vaga perfeita!</h1>
    <p class="para3">
        Para um match perfeito entre ONG e voluntário, desenvolvemos uma maneira de conectá-los através de 
        Tags de Interesse. Assim o voluntário encontra com facilidade as causas que o mobilizam. Por elas, 
        as Organizações também podem especificar que tipo de trabalho voluntario irão realizar, encontrando com mais
        facilidade pessoas empenhadas para aquela ação específica!
    </p>
</div>
</div>

<div id="ago" class="ladodois">
    <div class="meinscrevi">
    <h1 class="agora">Me inscrevi, e agora?</h1>
    <p class="para2">
        A ONG será notificada sobre sua inscrição e entrará em contato. Isto pode demorar alguns dias, 
        enquanto isso você pode se aprofundar sobre a Causa e sobre o trabalho da ONG. Não se esqueça de manter
        seu e-mail ou telefone atualizado, é através deles que a Organização entrará em contato com você! Se comprometa,
        trabalho voluntário é coisa séria e estamos contando com você!
    </p>
</div>
</div>

<div class="background3">
        
    <div class="texto">
        <h1 class="dentro">Quer ficar por dentro de todas as novidades da ConnAction?</h1>

        <div class="redes">
            <div> 
                <p class="facil">Tá fácil! Abaixo você encontra todas nossas redes sociais e grupos de whatsapp. Além disso, 
                    com seu email cadastrado no site você já recebe notícias periodicamente!</p>
            </div>

            <div class="sociais">
                <img id="soc" src="../../assets/fotos/facebook (1).png" alt="">
                <img id="soc" src="../../assets/fotos/instagram.png" alt="">
                <img id="soc" src="../../assets/fotos/whatsapp.png" alt="">
                <img id="soc" src="../../assets/fotos/twitter.png" alt="">
            </div>

        </div>
    </div>
    

    <img id="logo" src="../../assets/fotos/lococolorida.png" >
</div>



