body {
    margin: 0;
    padding: 0;
    background-color: rgb(211, 233, 253);
  }

.background{
    width: 100vw;
    height: 68vh;
    background-image: url(../../assets/fotos/praia.png);
    display: inline-block;
    background-repeat: no-repeat;
}

.titulo{
    font-family: 'Poppins';
    font-size: 85px;
    color: white; 
    display: flex;
    align-items: center;
    align-items: flex-end;
    justify-content:left;
    margin-left: 55px;
    margin-top: 150px;

}


.subtitulo{
    font-family: 'Poppins';
    font-size: 35px;
    color: white;
    display: block;
    text-align:left;
    justify-content: left;
    margin-top: 20px;
    margin-left: 55px;
    margin-right: 500px;
 
}

.vaga{
    font-family: 'Poppins';
    color: rgb(15, 23, 97);
    font-size: 16px;
    display: block;
    text-align:left;
    justify-content: left;
    margin-left: 100px;
    margin-right: 150px;
    margin-top: 40px;
}

.edit-index {
    font-family: 'Poppins';
    font-size: 20px;
    list-style-type: none;
    text-align: center;
    padding: 10px;
    margin-top: 35px;
    margin-bottom: 75px;
 }
    

.edit-index a{
    display: inline;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    padding: 6px 12px;
    margin: 4px 0;
    color: rgb(15, 23, 97);
    border-radius: 6px;
    margin-inline: 12px;
}

.lado{
    display: flex;
    flex-flow: row;
 text-align: center;
 margin-bottom: 40px;

}

#imagem{
    width: 400px;
    height: 430px;
    margin-top: 60px;
    margin-left: 50px;
    display: inline;
}

.voluntario{
    margin-left: 0px;
    display: inline-block;
    align-items: flex-end;
}

.oque{
    display: inline-block;
    font-family: 'Poppins';
    font-size: 45px;
    color: rgb(15, 23, 97);
    /* background-color: rgb(205, 194, 255); */
    border-radius: 15px;
    padding: 16px 30px;
    text-align: right;
    margin-top: 60px;
    margin-bottom: 10px;
}

.para{
    font-family: 'Poppins';
    font-size: 20px;
    color: rgb(0, 115, 216);
    margin: 60px;
}


.meinscrevo{
    display: inline-block;
    align-items: center;
    margin-top: 40px;
    text-align: center;

}

.onde{
    display: inline;
    font-family: 'Poppins';
    font-size: 45px;
    color: rgb(15, 23, 97);
    /* background-color: rgb(205, 194, 255); */
    border-radius: 15px;
    padding: 16px 30px;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.para2{
    font-family: 'Poppins';
    font-size: 22px;
    color: rgb(0, 115, 216);
    margin-top: 70px;
    text-align: center;
    align-items: center;
    justify-items: center;
   padding-left: 100px;
    padding-right: 100px;
}

#button{
    margin-top: 20px;
    font-family: 'Poppins';
    font-size: 20px;
    background-color: rgb(242, 244, 250);
    color: rgb(45, 82, 163);
    padding: 7px 14px;
    border-radius: 10px;
    border: none;
    margin-inline: 25px;
}

#button:hover{
    background-color: rgb(168, 168, 255);
}

#imagemdois{
    width: 500px;
    height: 333px;
    margin-top: 110px;
    margin-left: 50px;
    display: inline;
}

.perfeita{
    display: inline;
    color: rgb(15, 23, 97);
    margin-top: 80px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 40px;
}

.para3{
    font-family: 'Poppins';
    font-size: 20px;
    color: rgb(0, 115, 216);
    margin: 30px;
}

.meinscrevi{
    display: inline-block;
    align-items: center;
    margin-top: 70px;
    text-align: center;
    margin-bottom: 100px;
}
.agora{
    color: rgb(15, 23, 97);
    margin-top: 100px;
    display: inline;
    font-family: 'Poppins';
    font-size: 45px;
    /* background-color:rgb(205, 194, 255); */
    border-radius: 15px;
    padding: 16px 30px;
    align-items: center;
    text-align: center;
}

.background3{
    background-color:rgb(125, 179, 230) ;
    margin-bottom: 0px;
}

.dentro{
    font-family: 'Poppins';
    color: rgb(15, 23, 97);
    font-size: 30px;
    display: block;
    text-align: left;
    margin-left: 70px;
    padding-top: 40px;
}

.facil{
    font-family: 'Poppins';
    color: rgb(15, 23, 97);
    font-size: 20px;
    display: block;
    text-align: left;
justify-items: left;
margin-left: 70px;
margin-right: 400px;
margin-bottom: 0px;
}

.background3{
    background-color:rgb(220, 221, 250) ;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;

}

.texto{
    display: block;
}

.dentro{
    font-family: 'Poppins';
    color: rgb(15, 23, 97);
    font-size: 38px;
    /* display: inline-block; */
    text-align: left;
    margin-left: 70px;
    padding-top: 40px;
    margin-bottom: 20px;
}

.facil{
    font-family: 'Poppins';
    color: hsl(234, 73%, 22%);
    font-size: 23px;
    margin-left: 70px;
    margin-right: 210px;
    /* display: inline-block; */
    text-align: left;
 /* justify-items: left; */

}

#logo{
    display: inline;
    width: 250px;
    height: 250px;
    float: right;
    margin-top: 70px;
    margin-right: 50px;
}

.sociais{
    margin-top: 20px;
    margin-left: 70px;
    margin-bottom: 40px;
}

#soc{
    height: 47px;
    width: 47px;
    margin: 5px;
}