<div class="um">
    <div><ul class="menu">
        <a class="item" href="#">Atualizar meu perfil</a>
        <a class="item active" href="#" aria-current="true">Meu Histórico</a>
       <a class="item" href="#">Minhas Tags de Interesse</a>
       <a class="item" href="#">Fazer uma Contribuição</a>
       <a class="item" href="#">Vagas de voluntariado</a>
      </ul>
    </div>

    <div class="card">
        <h1 class="titulo">Atualizar meu Perfil</h1>
        <h2 class="subtitulo">Atualize seu perfil a hora que quiser!</h2>
        </div>
    </div>