<div class="um">
    <div>
        <ul class="menu">
        <a class="item" href="#">Atualizar meu perfil</a>
        <a class="item active" href="#" aria-current="true">Meu Histórico</a>
        <a class="item" href="#">Minhas Tags de Interesse</a>
        <a class="item" href="#">Fazer uma Contribuição</a>
        <a class="item" href="#">Vagas de voluntariado</a>
        </ul>
    </div>

    <div class="card">
        <h1 class="titulo">Atualizar meu Perfil</h1>
        <h2 class="subtitulo">Atualize seu perfil a hora que quiser!</h2>
        <div class="cadastro">
            <div class="rot">
                <div class="outter">
                    <div (click)="onClick()">
                        <div class="profile-outter">
                            <div id="profile"></div>
                        </div>        
                    </div>
                    <form [formGroup]="cadastroForm" class="cadastro-block" (ngSubmit)="cadastrar()">
                        <input type="file" id="mediaFile" accept="image/jpg, image/png, image/jpeg" formControlName="caminhoImagem"/>
                        <input type="text" name="nome" id="nome" formControlName="nome" [ngClass]="classesText" placeholder="NOME">
                        <div *ngIf="submitted && f.nome.errors" class="invalid-feedback">
                            <div *ngIf="f.nome.errors">Nome em branco!</div>
                        </div>
                        <input type="text" name="sobrenome" id="sobrenome" formControlName="sobrenome" [ngClass]="classesText" placeholder="SOBRENOME">
                        <input type="text" name="telefone" id="telefone" formControlName="telefone" [ngClass]="classesText" placeholder="TELEFONE">
                        <input type="text" name="cpf" id="cpf" formControlName="cpf" [ngClass]="classesText" placeholder="CPF">
                        <input type="text" name="login" id="login" formControlName="login" [ngClass]="classesText" placeholder="LOGIN">
                        <input type="text" name="senha" id="senha" formControlName="senha" [ngClass]="classesText" placeholder="SENHA">
                        <button type="submit" [innerText]="nome" [ngClass]="classesCadastro" [disabled]="!cadastroForm.valid"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>