
    <div class="login">
        <div class="login-block outter">
            <form [formGroup]="loginForm" class="login-block" (ngSubmit)="onSubmit()">
                <img src="../../assets/icons/recortado.png" alt="logo" class="logo">
                <input type="text" name="login" id="login" class="border-gradient border-gradient-purple" placeholder="LOGIN" formControlName="username">
                <input type="password" name="senha" id="senha" class="border-gradient border-gradient-purple" placeholder="SENHA" formControlName="password">
                <input type="submit" [disabled]="!loginForm.valid" class="btn-size submit" value="Entrar">
            </form>
            <div>Não possui uma conta?</div>
            <button type="button" class="btn-size cadastrar" routerLink="/cadastrar">CADASTRAR</button>
        </div>
    </div>