input[type=text], input[type=password]{
    padding: 10px;
    outline: none;
    caret-color: #1d57f8;
}

.border-gradient {
    border: 0;
    border-bottom: 4px solid;
    border-image-slice: 1;
}

.border-gradient-purple {
    border-image-source: linear-gradient(to left, #834de0, #1d57f8);
}

label{
    display: none;
}

.login{
    display: flex;
    flex-direction: column;
    width: 15rem;
    background-color: rgba(255, 255, 255, 0.842);
    border-radius: 15px;
    padding: 20px;
}

input::content{
    background: -webkit-linear-gradient(45deg, #3867e7, #9159f1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* .sc-container {
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

.caret, .smoothCaretInput {
    grid-row: 1/2;
}

.smoothCaretInput {
    grid-column: 1/3;
    caret-color: transparent;
} */