<div class="back">
    <div class="login">
        <form [formGroup]="loginForm" class="login-block">
            <img src="../../assets/logocutted.png" alt="logo" class="logo">
            <input type="text" name="login" id="login" class="border-gradient border-gradient-purple" placeholder="LOGIN" formControlName="login">
            <input type="password" name="senha" id="senha" class="border-gradient border-gradient-purple" placeholder="SENHA" formControlName="senha">
            <input type="submit" [disabled]="!loginForm.valid" (click)="onSubmit()" class="submit" value="Entrar">
        </form>
    </div>
</div>