
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
    </div>
    <div class="offcanvas-body">
      <div class="menu">
        <a class="dropdown-item" routerLink="/atualizarCadastro" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasExample">Atualizar Cadastro</a> 
        <a class="dropdown-item" routerLink="/perfil" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasExample">Meu Perfil</a>
        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#setTags">Minhas Tags de Interesse</a>
        <a class="dropdown-item"routerLink="/contribuicao" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasExample">Fazer uma Doação</a>
        <a class="dropdown-item" routerLink="/vagaseventos" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasExample">Vagas de voluntariado</a>
        <a class="dropdown-item"routerLink="/supervisor" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasExample">Menu de Supervisor</a>
      </div>
    </div>
  </div>
<app-set-tags></app-set-tags>